/* ==========
Mobile Devices
============= */
@media only screen and (max-width:688px) {
  html {
    font-size: 47%;
  }

  .top-bar-wrapper {
    width: 100%;

  }

  .container {
    width: 100%;
  }

  .section-title {
    text-align: center;
  }

  .players,
  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .blogs {
    grid-template-columns: 1fr;

  }

  .blogs,
  .player,
  .blog {
    flex-direction: column;
    justify-content: center;
  }
}

/* ===========
Teblet device
============== */

@media only screen and (min-width:689px) and (max-width:992px) {

  .top-bar-wrapper {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .players,
  .courses,
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }

}